.page {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
}

