{
  "presets": [
    ["env", {
      "useBuiltIns": "entry",
      "corejs": 3,
      "modules": false,
      "exclude": ["transform-typeof-symbol"]
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-transform-runtime"]
  ]
}