mixin button(tag)
        if tag
                +b(tag).button&attributes(attributes)
                        block
        else 
                +b('button').button&attributes(attributes)
                        block